@import "../../constants/animations.scss";

.popup {
  position: fixed;
  z-index: 100;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0 0 0 / 50%);
  justify-content: center;
  flex-direction: row;
}

.popup_visible {
  display: flex;
  animation: fade-in 0.1s;
}
