@import "../../constants/colors.scss";

.form__row-label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.form__input_field_right {
  text-align: right;
  color: $note-color;
  font-size: 1.2rem;
  border: none;
}

.form__text_right {
  text-align: right;
}
