@import "../../constants/colors.scss";

.form__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: transparent;
  text-decoration: none;

  &:active {
    transform: scale(0.98);
  }
}

.form__button_standard {
  display: inline-block;
  width: 100%;
  max-width: 23rem;
  font-size: 1.2rem;
  color: $plain-color;
  background: $main-color;
  border-radius: 0.8rem;

  &:hover {
    filter: brightness(1.3);
  }
}

.form__button_round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}
