$main-color: #3369f3;
$secondary-color: #e4edfd;
$plain-color: #fff;
$danger-color: #ff2f2f;
$disabled-color: #999;
$body-bg: $plain-color;
$container-bg: $plain-color;
$sidebar-bg: #fbfbfb;
$elem-bg: #efefef;
$subelem-bg: #f8f8f8;
$border-color: #eaeaea;
$scrollbar-bg: #ccc;
$text-color: #222;
$note-color: #999;
