
.chatlist__search__field__wrapper {
	border-radius: 0.5rem;
	background: #EFEFEF;
	color: #999;
	
	&:focus {
		color: #000;
	}
}

.chatlist__search__field {
	display: block;
	font-size: 1rem;
	padding: 1rem 1rem 1rem 3rem;
}
.chatlist__search__label {
	position: absolute;
	z-index: 1;
	padding: 1rem 1rem;
	margin-top: -3.25rem;
}
.chatlist__search__label__text {
	display: none;
}
.chatlist__search__label__icon {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: bottom;
	background: url("/public/search_icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.chatlist__search__field[value=""]+.chatlist__search__label .chatlist__search__label__text {
	display: inline;
}
.chatlist__search__field:focus+.chatlist__search__label .chatlist__search__label__text {
	display: none;
}


.chatlist__search__label>* {
	vertical-align: middle;
}