@import "../../constants/colors.scss";

.chatbox__date {
  margin: 2rem 0;
  color: $note-color;
  text-align: center;
}

.chatbox__messages-wrapper {
  display: inherit;
  flex: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.chatbox__message {
  max-width: 31rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.chatbox__message_inc {
  align-self: flex-start;
  background: $subelem-bg;
  border-top-left-radius: 0;
}

.chatbox__message_out {
  align-self: flex-end;
  background: $secondary-color;
  border-bottom-right-radius: 0;
}

.chatbox__message-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.chatbox__message-info {
  padding: 0.25rem 0 0 1rem;
  font-size: 0.75rem;
  float: right;
}

.chatbox__message_inc .chatbox__message-info {
  color: $note-color;
}

.chatbox__message_out .chatbox__message-info {
  color: $main-color;
}

.chatbox__message-status {
  font-size: 0.6rem;
  letter-spacing: -3px;
  margin-left: -4px;
  padding-right: 4px;
}
