@import "../../constants/colors.scss";

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-bg $border-color;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $border-color;
}

.scrollable::-webkit-scrollbar-thumb {
  background: $scrollbar-bg;
  border-radius: 5px;
}

.container_chatbox {
  display: flex;
  flex: 1 1 75%;
  align-self: stretch;
  padding: 0 2rem;
  flex-flow: column;
  justify-content: space-between;
}

.sidebar_chatlist {
  flex: 1 1 25%;
  min-width: 11rem;
}

@media (max-width: 400px) {
  .chat {
    flex-flow: column;
  }

  .scrollable {
    height: auto;
    overflow-y: hidden;
  }

  .container_chatbox {
    flex: 1 1 75%;
    height: 75vh;
  }

  .sidebar_chatlist {
    flex: 0 1 25%;
    height: 25vh;
    border-right: none;
    border-bottom: 2px solid $border-color;
  }
}
