@import "/src/components/layouts/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: #fff;
}

.root {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup {
  position: fixed;
  z-index: 100;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0 0 0 / 50%);
  justify-content: center;
  flex-direction: row;
}

.container {
  margin: 0 auto;
  background: #fff;
}

.container__header {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem 0 2rem;
}

.container__row {
  display: flex;
  margin: 1rem;
  padding: 1rem 0 0;
  justify-content: space-between;
  align-items: flex-start;

  & + .container__row {
    border-top: 2px solid #eaeaea;
  }
}

.container__element {
  position: relative;
  display: block;
  margin: 1.5rem;
  box-sizing: border-box;

  &_centered {
    text-align: center;
    justify-content: center;
  }

  &_right {
    text-align: right;
    justify-content: flex-end;
  }
}

.container__link {
  color: $main-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
    text-decoration: underline;
  }

  &_red {
    color: #f00;
  }

  &_grey {
    color: #999;
  }

  &_underlined {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
