@import "../../constants/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: $body-bg;
  color: $text-color;
}

.root {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  background: $container-bg;
}

.container__header {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem 0 2rem;
}

.container__row {
  display: flex;
  margin: 1rem;
  padding: 1rem 0 0;
  justify-content: space-between;
  align-items: flex-start;

  & + .container__row {
    border-top: 2px solid $border-color;
  }
}

.container__element {
  position: relative;
  display: block;
  margin: 1rem;
  box-sizing: border-box;

  &_centered {
    text-align: center;
    justify-content: center;
  }

  &_adjacent {
    margin-top: -1rem;
    min-height: 1px;
  }

  &_right {
    text-align: right;
    justify-content: flex-end;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
