@import "/src/components/layouts/colors.scss";

.form {
  width: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.form__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: transparent;
  text-decoration: none;

  &:active {
    transform: scale(0.98);
  }
}

.form__input__field {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 30rem;
  background: transparent;
  border: none;
  outline: none;
}

.form__input__error {
  font-size: 0.75rem;
  color: $error-color;
}

.form__element_hidden {
  display: none;
}
