


.form__avatar {
	width: 10rem;
	height: 10rem;
	display: flex;
	margin: 2rem auto;
	background: #EFEFEF url("/public/noavatar.png");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.form__avatar__control {
	visibility: hidden;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 1rem;
	font-size: 1.1rem;
	text-align: center;
	cursor: pointer;
}

.form__avatar:hover .form__avatar__control {
	visibility: visible;
}


.form__button {
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem;
	font-weight: 500;
	border: none;
	cursor: pointer;
	background: transparent;
	text-decoration: none;
}


.form__control {
	cursor: pointer;
}
.form__icon {
	margin-right: 1rem;
	vertical-align: bottom;
}


.form__button_round {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding: 1rem;
	font-weight: bold;
	line-height: 1rem;
	text-align: center;
}

.form__button_bigfont {
	font-size: 2rem;
}
.form__button_fileclip {
	width: 3rem;
	height: 3rem;
	border: none;
	background: url("/public/fileclip_icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.form__button_send {
	align-self: flex-end;
}


.form__button_blank:hover, .form__toggle:checked+.form__button_blank {
	color: #3369F3;
	background: #F5F5F5;
}





.form__button:active {
	transform: scale(0.98);
}


		



.form__row__label {
	font-size: 1.2rem;

}





.form__input__field {
	position: relative;
	z-index: 2;
	display: block;
	/*padding: 1rem 0;*/
	font-size: 1.2rem;
	width: 100%;
	box-sizing: border-box;
	max-width: 30rem;
	background: transparent;
	border: none;
	outline: none;
}

.form__input__field_right {
	text-align: right;
	color: #999;
	/*padding-bottom: 0;*/
}


.form__textarea {
	box-sizing: border-box;
	min-height: 3rem;
	width: 100%;
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 1.5rem;
	outline: none;
	resize: none;
	overflow: hidden;
	font: inherit;
	
}





.form__element_circled {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0.5rem;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	line-height: 1.5rem;
	padding: 0;
	color: #3369F3;
	border: 2px solid #3369F3;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
}

.form__element_grey {
	background: #EFEFEF;
	color: #999;
}
.form__element_grey:focus {
	color: #000;
}

.form__element_rounded {
	border-radius: 0.5rem;
}



.form__text_right {
	text-align: right;
}

.form__input__error {
	font-size: 0.75rem;
	color: #FF2F2F;
}


.form__input__file {
	visibility: hidden;
}



.form__element_hidden {
	display: none;
}